
.item-link-item {
    display: inline-block;
    width: 98%;
    line-height: 50px;
    padding: 0 0 0 10px;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
    color: white;
    background-color: #00b8ff;
    border-radius: 10px;
    cursor: pointer;

    .text-primary {
        font-size: 1rem;
    }

    .text-secondary {
        font-size: 12px;
        padding-left: 10px;
    }
}
.item-link-item:hover {
    color: white;
    background-color: #009ffc;
}