
.item-link-item {
    display: inline-block;
    height: 35px;
    width: 90%;
    line-height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    background-color: #00bcd4;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.item-link-item:hover {
    background-color: #0094a7;
}