
.app-header {
    text-align: left;
    color: green;
    background-color: yellow;
    border: 1px solid green;
    border-radius: 0px;
    width: 100%;
    position: fixed;
    padding: 0 0 0 10px;
}