
.todos-container {
    overflow: auto;
    height: 100%;
    width: 75%;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.todos-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.todo-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.item-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 1px solid lightgray;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
}

.additional-info {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .subtitle-info {
        margin-right: 20px;
        font-weight: normal;
    }
}

.item-content {
    border: 0px solid lightgray;
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 5px;
}

.new-container {
    margin: 10px;
    button {
        background-color: white;
        color: black;
        padding: 10px;
        font-weight: bold;
        border: 1px solid lightgray;
        cursor: pointer;
    }
}

.todo-title-bar {
    button {
        background-color: white;
        color: black;
        padding: 5px;
        margin-left: 5px;
        font-weight: bold;
        border: 1px solid lightgray;
        cursor: pointer;
    }
}

.react-mde-tabbed-layout {
    width: 96%
}

.div-editable {
    min-height: 200px;
    font-size: 18px;
    margin: 10px 0;
    outline: none;
}

.not-started {
    background-color: lightgray;
}
.in-progress {
    color: white;
    background-color: rgb(250, 153, 153);
}
.completed {
    background-color: rgb(163, 255, 163);
}
.on-hold {
    color: white;
    background-color: rgb(95, 0, 0);
}
.deferred {
    color: white;
    background-color: rgb(0, 167, 189);
}
.reassigned {
    background-color: rgb(255, 166, 0);
}